/* Estilo do Cabeçalho */
.header {
    background-color: #009688;
    padding: 20px 0;
    color: #fff;
    text-align: center;
    margin-top: 5.7rem;
}

.header h1 {
    margin: 0;
    font-size: 2.5rem;
}

.header p {
    margin: 5px 0;
    font-size: 1rem;
}

.header-area {
    background-color: #142440;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Garantir que fique acima de outros elementos */
}

.header {
    margin: 0; /* Remove qualquer margem do header */
    padding-top: 110px; /* Ajuste se necessário para compensar a altura do header fixo */
    background-color: #509DE9;
}

.container-text h1 {
    color: white;
}

.container-text h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    line-height: 75px;  
}

    /* Estilo das Seções */
.section-bg {
    background-color: #fff;
    padding: 60px 0;
}

.privacy-content {
    padding: 40px 0;
}

.privacy-content ul {
    list-style-type: disc;
    margin-left: 20px;
}

.privacy-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}